{% extends 'base.html'%}
{% block container %}
<script>

$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            email: '',
            name: '',
            language:['zh', 'en'],
            subscribe:true,
            city:'bj',
        },
        methods:{
            register:function(){
                // 显示JSON格式的Model:
                alert(JSON.stringify(this.$data));
                //TODO: ajax post
                //$.ajax('url',)
            }
        }
    });
    window.vm = vm;
    
   

});

</script>

<form id="vm"  v-on:submit.prevent='register'>
    <p>email:<input v-model="email"></p>
    <p>name:<input v-model="name"></p>

   <p> language:<label><input type="checkbox" v-model="language" value="zh"> Chinese</label>
    <label><input type="checkbox" v-model="language" value="en"> English</label>
    <label><input type="checkbox" v-model="anguage" value="fr"> French</label>
</p>
 <p>  checkbox:  <input type="checkbox" v-model="subscribe"></p>
<p> city:
    <select v-model="city">
        <option value="bj">Beijing</option>
        <option value="sh">Shanghai</option>
        <option value="gz">Guangzhou</option>
    </select>
</p>
<input type="submit" value="Register">
</form>

{% endblock%}